<h1>Sign up</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group"><%= f.label :email, :class => "control-label"  %><br />
  <%= f.email_field :email, :class => 'form-control input-lg', :placeholder => 'demo@ias1.com'  %></div>

  <div class="form-group"><%= f.label :password, :class => "control-label"  %><br />
  <%= f.password_field :password, :class => 'form-control input-lg', :placeholder => '**********' %></div>

  <div class="form-group"><%= f.label :password_confirmation, :class => "control-label"  %><br />
  <%= f.password_field :password_confirmation, :class => 'form-control input-lg', :placeholder => '**********' %></div>

  <div class="actions"><%= f.submit "Sign up", :class => 'btn btn-default' %></div>
<% end %>

<%= render "devise/shared/links" %>
