  <%= content_for(:title, "Work Orders") %>

  <p class="text-right">
    <span class="badge badge-dark">M</span><small> Maintenance &nbsp;</small>
    <span class="badge badge-dark"> I </span><small> Irrigations &nbsp;</small>
    <span class="badge badge-dark">G</span><small> Grounds &nbsp;</small>
    <span class="label label-success">&nbsp;</span><small> Open &nbsp;</small>
    <span class="label label-yellow">&nbsp;</span><small> Pending &nbsp;</small>
    <span class="label label-warning"><i class="fa fa-exclamation"></i></span><small> Expiring &nbsp;</small>
    <span class="label label-danger"><i class="fa fa-exclamation"></i></span><small> Expired &nbsp;</small>
    |&nbsp;
  	<%= link_to 'New work order', new_service_request_path %>
  </p>
      <table class="table table-striped table-hover">
        <tr>
          <th class="span2">Address</th>
          <th class="span2">Title</th>
          <th class="span6">Description</th>
          <th>Status</th>
          <th>Category</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @service_requests.each do |service_request| %>
        <tr>
          <td><%= service_request.address %></td>
          <td><%= truncate(service_request.title) %></td>
          <td><%= truncate(service_request.description, length: 50) %></td>
          <td>
            <% if(service_request.status == 2) # if(archived) %>
            <span class="label label-light">&nbsp;</span>
            <% elsif (service_request.status == 3) # if(pending) %>
            <span class="label label-yellow">&nbsp;</span>
            <% else #if(open) %>
            <span class="label label-success">&nbsp;</span>
            <% end #ends if(statuses) %>
          </td>
          <td>
            <% if(service_request.category.id == 1) %>
            <span class="badge badge-dark">M</span>
            <% elsif (service_request.category.id == 2)%>
            <span class="badge badge-dark"> I </span>
            <% else %>
            <span class="badge badge-dark">G</span>
            <% end %>
          </td>
          <td>
            <% if(service_request.alert_date < Date.today) #if(expired) %>
              <span class="label label-danger"><i class="fa fa-exclamation"></i></span>
            <% elsif (service_request.warning_date <= Date.today) #if(expiring) %>
              <span class="label label-warning"><i class="fa fa-exclamation"></i></span>
            <% end %>
          </td>
          <td><%= link_to 'View', service_request %></td>
          <td><%= link_to 'Edit', edit_service_request_path(service_request) %></td>
          <td><%= link_to 'Delete', service_request, confirm: 'Are you sure?', method: :delete %></td>
        </tr>
        <% end %>
      </table>
      <div class="row text-center"><%= will_paginate @service_requests, previous_label: h("<"), next_label: h(">") %></div>
