<p id="notice"><%= notice %></p>

<%= content_for(:title, "Work Order Details") %>

<p class="text-right">
	<%= link_to 'Edit', edit_service_request_path(@service_request) %> |
	<%= link_to 'Back', service_requests_path %>
</p>

<h2><%= @service_request.address %></h2>

<h3>Title:</h3>
<p class="lead">
  <%= @service_request.title %>
</p>

<h3>Description:</h3>
<p class="lead">
<%= @service_request.description %>
</p>

<h3>Status:</h3>
<% if(@service_request.status == 2) %>
	<span class="label label-default">Close</span>
<% elsif (@service_request.status == 3)%>
	<span class="label label-danger">Block</span>
<% else %>
	<span class="label label-success">Open</span>
<% end %>
<h3>Created on:</h3>
<p class="lead">
	<%= @service_request.created_at.strftime("%b %d %Y") %> at <%= @service_request.created_at.strftime("%H:%M") %> - <%= distance_of_time_in_words(@service_request.created_at, Time.now) %> ago
</p>

<% if(@service_request.updated_at != @service_request.created_at) %>
<h3>Last modified on:</h3>
<p class="lead">
	<%= @service_request.updated_at.strftime("%b %d %Y") %> at <%= @service_request.updated_at.strftime("%H:%M") %> - <%= distance_of_time_in_words(@service_request.updated_at, Time.now) %> ago
</p>
<% end %>

<h3>Created by:</h3>
<p class="lead">
	<%= @the_creator != nil ? @the_creator.email : "Unknown" %>
</p>