<p id="notice"><%= notice %></p>

<%= content_for(:title, "Work Order Details") %>

<p class="text-right">
	<%= link_to 'Edit', edit_service_request_path(@service_request) %> |
	<%= link_to 'Back', service_requests_path %>
</p>

<div class="tag-box tag-box-v3">
	<div class="headline">
		<h4>Work Order Details</h4>
	</div>
<div class="form-group">
	<p class="lead"><b>
		<%= @service_request.address %></b></p>
</div>
<div class="form-group">
	Title:
	<p class="lead">
		<%= @service_request.title %>
	</p>
</div>
<div class="form-group">
	Description:
	<p class="lead">
		<%= @service_request.description %>
	</p>
</div>
<div class="form-group">
	Category:
	<p class="lead">
		<%= @service_request.category.name %>
	</p>
</div>
<div class="form-group">
	Status:
	<p class="lead">
		<% if(@service_request.status == 2) %>
			<span class="label label-default">Archived</span>
		<% elsif (@service_request.status == 3)%>
			<span class="label label-danger">Pending</span>
		<% else %>
			<span class="label label-success">Open</span>
		<% end %>
	</p>
</div>
<div class="form-group">
	Work performed:
	<p class="lead">
		<% if !(@service_request.work_performed.blank?) %>
			<%= @service_request.work_performed %>
		<% else %>
			Ooooops..... No work perfomed yet
		<% end %>
	</p>
</div>
<div class="form-group">
	Caller Information:
	<p class="lead">
		<%= @service_request.caller_name %> - <%= @service_request.call_back_phone %>
	</p>
</div>
<div class="form-group">
	Created on:
	<p class="lead">
		<%= @service_request.created_at.strftime("%b %d %Y") %> at <%= @service_request.created_at.strftime("%H:%M") %> - <%= distance_of_time_in_words(@service_request.created_at, Time.now) %> ago
	</p>
</div>


<% if(@service_request.updated_at != @service_request.created_at) %>
<div class="form-group">
	Last modified on:
	<p class="lead">
		<%= @service_request.updated_at.strftime("%b %d %Y") %> at <%= @service_request.updated_at.strftime("%H:%M") %> - <%= distance_of_time_in_words(@service_request.updated_at, Time.now) %> ago
	</p>
</div>
<% end %>
<div class="form-group">
	Created by:
	<p class="lead">
		<%= @the_creator != nil ? @the_creator.email : "Unknown" %>
	</p>
</div>


</div>