<p class="text-right" style="margin-top:5px;">
	<span class="badge badge-dark">M</span><small> Maintenance &nbsp;</small>
    <span class="badge badge-dark"> I </span><small> Irrigations &nbsp;</small>
    <span class="badge badge-dark">G</span><small> Grounds &nbsp;</small>
    <span class="badge badge-dark">C</span><small> Code Compliance &nbsp;</small>
    
    |&nbsp;
  	<%= link_to 'New work order', new_service_request_path %>
</p>

<small class="pull-right"> Showing a total of <%= @service_requests.length %> records </small>
<table id="all_items" class="table table-striped table-hover">
<thead>  
	<tr>
		<th>Address</th>
		<th>Title</th>
		<th>Description</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
</thead>
<% @service_requests.each do |service_request| %>
<tbody>
	<tr>
		<td><%= service_request.address %></td>
		<td><%= truncate(service_request.title) %></td>
		<td><%= truncate(service_request.description, length: 50) %></td>
		<td>
			<% if(service_request.status == 2) # if(archived) %>
				<hidden hidden>closed</hidden>
            	<span class="label label-light" data-toggle="tooltip" data-placement="top" title="Closed">&nbsp;</span>
            <% elsif (service_request.status == 3) # if(pending) %>
            	<hidden hidden>pending</hidden>
            	<span class="label label-yellow" data-toggle="tooltip" data-placement="top" title="Pending">&nbsp;</span>
            <% else #if(open) %>
            	<hidden hidden>open</hidden>
            	<span class="label label-success" data-toggle="tooltip" data-placement="top" title="Open">&nbsp;</span>
            <% end #ends if(statuses) %>
		</td>
		<td>
			<% if(service_request.category.id == 1) %>
				<hidden hidden>maintenance</hidden>
            	<span class="badge badge-dark" data-toggle="tooltip" data-placement="top" title="Maintenance">M</span>
            <% elsif (service_request.category.id == 2)%>
            	<hidden hidden>Irrigations</hidden>
            	<span class="badge badge-dark" data-toggle="tooltip" data-placement="top" title="Irrigations"> I </span>
            <% elsif (service_request.category.id == 3) %>
            	<hidden hidden>Grounds</hidden>
            	<span class="badge badge-dark" data-toggle="Grounds" data-placement="top" title="Grounds">G</span>
            <% else %>
            	<hidden hidden>code compliance</hidden>
            	<span class="badge badge-dark" data-toggle="tooltip" data-placement="top" title="Code Compliance"> C </span>
            <% end %>
		</td>
		<td>
			<% if(service_request.status != 2) #if(not archived) %>
				<% if(service_request.alert_date < Date.today) #if(expired) %>
					<hidden hidden>expired</hidden>
	              <span class="label label-danger" data-toggle="tooltip" data-placement="top" title="Expired on: <%= service_request.alert_date %>"><i class="fa fa-exclamation"></i></span>
	            <% elsif (service_request.warning_date <= Date.today) #if(expiring) %>
	            	<hidden hidden>expiring</hidden>
	              <span class="label label-warning" data-toggle="tooltip" data-placement="top" title="Expiring"><i class="fa fa-exclamation"></i></span>
	            <% end %>
			<% end %>
		</td>
		<td><%= link_to 'View', service_request %></td>
		<td><%= link_to 'Edit', edit_service_request_path(service_request) %></td>
		<td><%= link_to 'Delete', service_request, confirm: 'Are you sure?', method: :delete %></td>
	</tr>
<% end %>
</tbody>
</table>

<% content_for :js_scripts do %>
  	<%= javascript_include_tag "jquery.searchable" %>

  	<script type="text/javascript">
	    $(document).ready(function() {
			$('#all_items' ).searchable({
					searchField   : '#search_by_id'
				});
	    });
	</script>

<% end %>
