<p class="text-right">
	<span class="badge badge-dark">M</span><small> Maintenance &nbsp;</small>
	<span class="badge badge-dark"> I </span><small> Irrigations &nbsp;</small>
	<span class="badge badge-dark">G</span><small> Grounds &nbsp;</small>
	<span class="label label-success">&nbsp;</span><small> Open &nbsp;</small>
	<span class="label label-yellow">&nbsp;</span><small> Pending &nbsp;</small>
	<span class="label label-default">&nbsp;</span><small> Closed &nbsp;</small>
	<span class="label label-warning"><i class="fa fa-exclamation"></i></span><small> Expiring &nbsp;</small>
	<span class="label label-danger"><i class="fa fa-exclamation"></i></span><small> Expired &nbsp;</small>
</p>

<small class="pull-right"> Showing a total of <%= @service_requests.length %> records </small>
<table id="all_items" class="table table-striped">
<thead>  
	<tr>
		<th>ID</th>
		<th>Address</th>
		<th>Title</th>
		<th>Description</th>
		<th>Status</th>
		<th>Category</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
</thead>
<% @service_requests.each do |service_request| %>
<tbody>
	<tr>
		<td># <%= service_request.id %></td>
		<td><%= service_request.address %></td>
		<td><%= truncate(service_request.title) %></td>
		<td><%= truncate(service_request.description, length: 50) %></td>
		<td>
			<% if(service_request.status == 2) # if(archived) %>
			<span class="label label-default">&nbsp;</span>
			<% elsif (service_request.status == 3) # if(pending) %>
			<span class="label label-yellow">&nbsp;</span>
			<% else #if(open) %>
			<span class="label label-success">&nbsp;</span>
			<% end #ends if(statuses) %>
		</td>
		<td>
			<% if(service_request.category.id == 1) %>
			<span class="badge badge-dark">M</span>
			<% elsif (service_request.category.id == 2)%>
			<span class="badge badge-dark"> I </span>
			<% else %>
			<span class="badge badge-dark">G</span>
			<% end %>
		</td>
		<td>
			<% if(service_request.status != 2) #if(not archived) %>
			<% if(service_request.alert_date < Date.today) %>
			<span class="label label-danger"><i class="fa fa-exclamation"></i></span>
			<% elsif (service_request.warning_date <= Date.today)%>
			<span class="label label-warning"><i class="fa fa-exclamation"></i></span>
			<% end %>
			<% end %>
		</td>
		<td><%= link_to 'View', service_request %></td>
		<td><%= link_to 'Edit', edit_service_request_path(service_request) %></td>
		<td><%= link_to 'Delete', service_request, confirm: 'Are you sure?', method: :delete %></td>
	</tr>
<% end %>
</tbody>
</table>

<% content_for :js_scripts do %>
  	<%= javascript_include_tag "jquery.searchable" %>

  	<script type="text/javascript">
	    $(document).ready(function() {
			$('#all_items' ).searchable({
					searchField   : '#search_by_id'
				});
	    });
	</script>

<% end %>
