<%= content_for(:title, "Work Orders by Address") %>

<p><span class="help-block">Look for the desired property then hit the "Search" button.</span></p>
<br/>

<%= form_tag reports_path, :method => 'get', :class => 'form-inline' do %>
	<div class="form-group">
		<%= text_field_tag :search, params[:search], :class => 'form-control input-lg', :placeholder => 'Ex. 1 Main Drive' %>
	</div>
	<%= submit_tag "Search", :name => nil, :class => 'btn btn-default btn-lg' %>
<% end %>
<br />

<table class="table table-striped">
  <tr>
    <th></th>
          <th class="span2">Address</th>
          <th class="span2">Title</th>
          <th class="span6">Description</th>
          <th>Status</th>
          <th></th>
          <th></th>
          <th></th>
  </tr>

<% @service_requests.each do |service_request| %>
  <tr>
          <td>
            <% if(service_request.category.id == 1) %>
            <span class="badge rounded-2x badge-light">M</span>
            <% elsif (service_request.category.id == 2)%>
            <span class="badge rounded-2x badge-light">I</span>
            <% else %>
            <span class="badge rounded-2x badge-light">G</span>
            <% end %>
          </td>
          <td><%= service_request.address %></td>
          <td><%= truncate(service_request.title) %></td>
          <td><%= truncate(service_request.description, length: 50) %></td>
          <td>
            <% if(service_request.status == 2) %>
            <span class="label label-light">Archived</span>
            <% elsif (service_request.status == 3)%>
            <span class="label label-yellow">Pending</span>
            <% else %>
            
            <% end %>

            <% if(service_request.alert_date < Date.today) %>
            <span class="label label-danger"><i class="fa fa-exclamation"></i>&nbsp;Expired</span>
            <% elsif (service_request.warning_date <= Date.today)%>
            <span class="label label-warning"><i class="fa fa-flag"></i>&nbsp;Expiring</span>
            <% end %>
          </td>
          <td><%= link_to 'View', service_request %></td>
          <td><%= link_to 'Edit', edit_service_request_path(service_request) %></td>
          <td><%= link_to 'Delete', service_request, confirm: 'Are you sure?', method: :delete %></td>
        </tr>
<% end %>
</table>
<script>
$(function() {
	var availableProperties = [ 
	"Lot 001", 
	"Lot 002", 
	"Lot 003", 
	"Lot 004", 
	"Lot 005", 
	"Lot 006", 
	"Lot 007", 
	"Lot 008", 
	"Lot 009", 
	"Lot 010", 
	"Lot 011", 
	"Lot 012", 
	"Lot 013", 
	"Lot 014", 
	"Lot 015", 
	"Lot 016", 
	"Lot 017", 
	"Lot 018", 
	"Lot 019", 
	"Lot 020", 
	"Lot 021", 
	"Lot 022", 
	"Lot 023", 
	"Lot 024", 
	"Lot 025", 
	"Lot 026", 
	"Lot 027", 
	"Lot 028", 
	"Lot 029", 
	"Lot 030", 
	"Lot 031", 
	"Lot 032", 
	"Lot 033", 
	"Lot 034", 
	"Lot 035", 
	"Lot 036", 
	"Lot 037", 
	"Lot 038", 
	"Lot 039", 
	"Lot 040", 
	"Lot 041", 
	"Lot 042", 
	"Lot 043", 
	"Lot 044", 
	"Lot 045", 
	"Lot 046", 
	"Lot 047", 
	"Lot 048", 
	"Lot 049", 
	"Lot 050", 
	"Lot 051", 
	"Lot 052", 
	"Lot 053", 
	"Lot 054", 
	"Lot 055", 
	"Lot 056", 
	"Lot 057", 
	"Lot 058", 
	"Lot 059", 
	"Lot 060", 
	"Lot 061", 
	"Lot 062", 
	"Lot 063", 
	"Lot 064", 
	"Lot 065", 
	"Lot 066", 
	"Lot 067", 
	"Lot 068", 
	"Lot 069", 
	"Lot 070", 
	"Lot 071", 
	"Lot 072", 
	"Lot 073", 
	"Lot 074", 
	"Lot 075", 
	"Lot 076", 
	"Lot 077", 
	"Lot 078", 
	"Lot 079", 
	"Lot 080", 
	"Lot 081", 
	"Lot 082", 
	"Lot 083", 
	"Lot 084", 
	"Lot 085", 
	"Lot 086", 
	"Lot 087", 
	"Lot 088", 
	"Lot 089", 
	"Lot 090", 
	"Lot 091", 
	"Lot 092", 
	"Lot 093", 
	"Lot 094", 
	"Lot 095", 
	"Lot 096", 
	"Lot 097", 
	"Lot 098", 
	"Lot 099", 
	"Lot 100", 
	"Lot 1000", 
	"Lot 1001", 
	"Lot 1002", 
	"Lot 1003", 
	"Lot 1004", 
	"Lot 1005", 
	"Lot 1006", 
	"Lot 1007", 
	"Lot 1008", 
	"Lot 1009", 
	"Lot 101", 
	"Lot 1010", 
	"Lot 1011", 
	"Lot 1012", 
	"Lot 1013", 
	"Lot 1014", 
	"Lot 1015", 
	"Lot 1016", 
	"Lot 1017", 
	"Lot 1018", 
	"Lot 1019", 
	"Lot 102", 
	"Lot 1020", 
	"Lot 1021", 
	"Lot 1022", 
	"Lot 1023", 
	"Lot 1024", 
	"Lot 1025", 
	"Lot 1026", 
	"Lot 1027", 
	"Lot 1028", 
	"Lot 1029", 
	"Lot 103", 
	"Lot 1030", 
	"Lot 1031", 
	"Lot 1032", 
	"Lot 1033", 
	"Lot 1034", 
	"Lot 1035", 
	"Lot 1036", 
	"Lot 1037", 
	"Lot 1038", 
	"Lot 1039", 
	"Lot 104", 
	"Lot 1040", 
	"Lot 1041", 
	"Lot 1042", 
	"Lot 1043", 
	"Lot 1044", 
	"Lot 1045", 
	"Lot 1046", 
	"Lot 1047", 
	"Lot 1048", 
	"Lot 1049", 
	"Lot 105", 
	"Lot 1050", 
	"Lot 1051", 
	"Lot 1052", 
	"Lot 1053", 
	"Lot 1054", 
	"Lot 1055", 
	"Lot 1056", 
	"Lot 1057", 
	"Lot 1058", 
	"Lot 1059", 
	"Lot 106", 
	"Lot 1060", 
	"Lot 1061", 
	"Lot 1062", 
	"Lot 1063", 
	"Lot 1064", 
	"Lot 1065", 
	"Lot 1066", 
	"Lot 1067", 
	"Lot 1068", 
	"Lot 1069", 
	"Lot 107", 
	"Lot 1070", 
	"Lot 1071", 
	"Lot 1072", 
	"Lot 1073", 
	"Lot 1074", 
	"Lot 1075", 
	"Lot 1076", 
	"Lot 1077", 
	"Lot 1078", 
	"Lot 1079", 
	"Lot 108", 
	"Lot 1080", 
	"Lot 1081", 
	"Lot 1082", 
	"Lot 1083", 
	"Lot 1084", 
	"Lot 1085", 
	"Lot 1086", 
	"Lot 1087", 
	"Lot 1088", 
	"Lot 1089", 
	"Lot 109", 
	"Lot 1090", 
	"Lot 1091", 
	"Lot 1092", 
	"Lot 1093", 
	"Lot 1094", 
	"Lot 1095", 
	"Lot 1096", 
	"Lot 1097", 
	"Lot 1098", 
	"Lot 1099", 
	"Lot 110", 
	"Lot 1100", 
	"Lot 1101", 
	"Lot 1102", 
	"Lot 1103", 
	"Lot 1104", 
	"Lot 1105", 
	"Lot 1106", 
	"Lot 1107", 
	"Lot 1108", 
	"Lot 1109", 
	"Lot 111", 
	"Lot 1110", 
	"Lot 1111", 
	"Lot 1112", 
	"Lot 1113", 
	"Lot 1114", 
	"Lot 1115", 
	"Lot 1116", 
	"Lot 1117", 
	"Lot 1118", 
	"Lot 1119", 
	"Lot 1120", 
	"Lot 1121", 
	"Lot 1122", 
	"Lot 1123", 
	"Lot 1124", 
	"Lot 1125", 
	"Lot 1126", 
	"Lot 1127", 
	"Lot 1128", 
	"Lot 1129", 
	"Lot 113", 
	"Lot 1130", 
	"Lot 1131", 
	"Lot 1132", 
	"Lot 1133", 
	"Lot 1134", 
	"Lot 1135", 
	"Lot 1136", 
	"Lot 1137", 
	"Lot 1138", 
	"Lot 1139", 
	"Lot 114", 
	"Lot 1140", 
	"Lot 1141", 
	"Lot 1142", 
	"Lot 1143", 
	"Lot 1144", 
	"Lot 1145", 
	"Lot 1146", 
	"Lot 1147", 
	"Lot 1148", 
	"Lot 1149", 
	"Lot 115", 
	"Lot 1150", 
	"Lot 1151", 
	"Lot 1152", 
	"Lot 1153", 
	"Lot 1154", 
	"Lot 1155", 
	"Lot 1156", 
	"Lot 1157", 
	"Lot 1158", 
	"Lot 1159", 
	"Lot 116", 
	"Lot 1160", 
	"Lot 1161", 
	"Lot 1162", 
	"Lot 1163", 
	"Lot 1164", 
	"Lot 1165", 
	"Lot 1166", 
	"Lot 1167", 
	"Lot 1168", 
	"Lot 1169", 
	"Lot 117", 
	"Lot 1170", 
	"Lot 1171", 
	"Lot 1172", 
	"Lot 1173", 
	"Lot 1174", 
	"Lot 1175", 
	"Lot 1176", 
	"Lot 1177", 
	"Lot 1178", 
	"Lot 1179", 
	"Lot 118", 
	"Lot 1180", 
	"Lot 1181", 
	"Lot 1182", 
	"Lot 1183", 
	"Lot 1184", 
	"Lot 1185", 
	"Lot 1186", 
	"Lot 1187", 
	"Lot 1188", 
	"Lot 1189", 
	"Lot 119", 
	"Lot 1190", 
	"Lot 1191", 
	"Lot 1192", 
	"Lot 1193", 
	"Lot 1194", 
	"Lot 1195", 
	"Lot 1196", 
	"Lot 1197", 
	"Lot 1198", 
	"Lot 1199", 
	"Lot 120", 
	"Lot 1200", 
	"Lot 1201", 
	"Lot 1202", 
	"Lot 1203", 
	"Lot 1204", 
	"Lot 1205", 
	"Lot 1206", 
	"Lot 1207", 
	"Lot 1208", 
	"Lot 1209", 
	"Lot 121", 
	"Lot 1210", 
	"Lot 1211", 
	"Lot 1212", 
	"Lot 1213", 
	"Lot 122", 
	"Lot 123", 
	"Lot 124", 
	"Lot 125", 
	"Lot 126", 
	"Lot 127", 
	"Lot 128", 
	"Lot 129", 
	"Lot 130", 
	"Lot 131", 
	"Lot 132", 
	"Lot 133", 
	"Lot 134", 
	"Lot 135", 
	"Lot 136", 
	"Lot 137", 
	"Lot 138", 
	"Lot 139", 
	"Lot 140", 
	"Lot 141", 
	"Lot 142", 
	"Lot 143", 
	"Lot 144", 
	"Lot 145", 
	"Lot 146", 
	"Lot 147", 
	"Lot 148", 
	"Lot 149", 
	"Lot 150", 
	"Lot 151", 
	"Lot 152", 
	"Lot 153", 
	"Lot 154", 
	"Lot 155", 
	"Lot 156", 
	"Lot 157", 
	"Lot 158", 
	"Lot 159", 
	"Lot 160", 
	"Lot 161", 
	"Lot 162", 
	"Lot 163", 
	"Lot 164", 
	"Lot 165", 
	"Lot 166", 
	"Lot 167", 
	"Lot 168", 
	"Lot 169", 
	"Lot 170", 
	"Lot 171", 
	"Lot 172", 
	"Lot 173", 
	"Lot 174", 
	"Lot 175", 
	"Lot 176", 
	"Lot 177", 
	"Lot 178", 
	"Lot 179", 
	"Lot 180", 
	"Lot 181", 
	"Lot 182", 
	"Lot 183", 
	"Lot 184", 
	"Lot 185", 
	"Lot 186", 
	"Lot 187", 
	"Lot 188", 
	"Lot 189", 
	"Lot 190", 
	"Lot 191", 
	"Lot 192", 
	"Lot 193", 
	"Lot 194", 
	"Lot 195", 
	"Lot 196", 
	"Lot 197", 
	"Lot 198", 
	"Lot 199", 
	"Lot 200", 
	"Lot 201", 
	"Lot 202", 
	"Lot 203", 
	"Lot 204", 
	"Lot 205", 
	"Lot 206", 
	"Lot 207", 
	"Lot 208", 
	"Lot 209", 
	"Lot 210", 
	"Lot 211", 
	"Lot 212", 
	"Lot 213", 
	"Lot 214", 
	"Lot 215", 
	"Lot 216", 
	"Lot 217", 
	"Lot 218", 
	"Lot 219", 
	"Lot 220", 
	"Lot 221", 
	"Lot 222", 
	"Lot 223", 
	"Lot 224", 
	"Lot 225", 
	"Lot 226", 
	"Lot 227", 
	"Lot 228", 
	"Lot 229", 
	"Lot 230", 
	"Lot 231", 
	"Lot 232", 
	"Lot 233", 
	"Lot 234", 
	"Lot 236", 
	"Lot 237", 
	"Lot 238", 
	"Lot 239", 
	"Lot 240", 
	"Lot 241", 
	"Lot 242", 
	"Lot 243", 
	"Lot 244", 
	"Lot 245", 
	"Lot 246", 
	"Lot 247", 
	"Lot 248", 
	"Lot 249", 
	"Lot 250", 
	"Lot 251", 
	"Lot 252", 
	"Lot 253", 
	"Lot 254", 
	"Lot 255", 
	"Lot 256", 
	"Lot 257", 
	"Lot 258", 
	"Lot 259", 
	"Lot 260", 
	"Lot 261", 
	"Lot 262", 
	"Lot 263", 
	"Lot 264", 
	"Lot 265", 
	"Lot 266", 
	"Lot 267", 
	"Lot 268", 
	"Lot 269", 
	"Lot 270", 
	"Lot 271", 
	"Lot 272", 
	"Lot 273", 
	"Lot 274", 
	"Lot 275", 
	"Lot 276", 
	"Lot 277", 
	"Lot 278", 
	"Lot 279", 
	"Lot 280", 
	"Lot 281", 
	"Lot 282", 
	"Lot 283", 
	"Lot 284", 
	"Lot 285", 
	"Lot 286", 
	"Lot 287", 
	"Lot 288", 
	"Lot 289", 
	"Lot 290", 
	"Lot 291", 
	"Lot 292", 
	"Lot 293", 
	"Lot 294", 
	"Lot 295", 
	"Lot 296", 
	"Lot 297", 
	"Lot 298", 
	"Lot 299", 
	"Lot 300", 
	"Lot 301", 
	"Lot 302", 
	"Lot 303", 
	"Lot 304", 
	"Lot 305", 
	"Lot 306", 
	"Lot 307", 
	"Lot 308", 
	"Lot 309", 
	"Lot 310", 
	"Lot 311", 
	"Lot 312", 
	"Lot 313", 
	"Lot 314", 
	"Lot 315", 
	"Lot 316", 
	"Lot 317", 
	"Lot 318", 
	"Lot 319", 
	"Lot 320", 
	"Lot 321", 
	"Lot 322", 
	"Lot 323", 
	"Lot 324", 
	"Lot 325", 
	"Lot 326", 
	"Lot 327", 
	"Lot 328", 
	"Lot 329", 
	"Lot 330", 
	"Lot 331", 
	"Lot 332", 
	"Lot 333", 
	"Lot 334", 
	"Lot 335", 
	"Lot 336", 
	"Lot 337", 
	"Lot 338", 
	"Lot 339", 
	"Lot 340", 
	"Lot 341", 
	"Lot 342", 
	"Lot 343", 
	"Lot 344", 
	"Lot 345", 
	"Lot 346", 
	"Lot 347", 
	"Lot 348", 
	"Lot 349", 
	"Lot 350", 
	"Lot 351", 
	"Lot 352", 
	"Lot 353", 
	"Lot 354", 
	"Lot 355", 
	"Lot 356", 
	"Lot 357", 
	"Lot 358", 
	"Lot 359", 
	"Lot 360", 
	"Lot 361", 
	"Lot 362", 
	"Lot 363", 
	"Lot 364", 
	"Lot 365", 
	"Lot 366", 
	"Lot 367", 
	"Lot 368", 
	"Lot 369", 
	"Lot 370", 
	"Lot 371", 
	"Lot 372", 
	"Lot 373", 
	"Lot 374", 
	"Lot 375", 
	"Lot 376", 
	"Lot 377", 
	"Lot 378", 
	"Lot 379", 
	"Lot 380", 
	"Lot 381", 
	"Lot 382", 
	"Lot 383", 
	"Lot 384", 
	"Lot 385", 
	"Lot 386", 
	"Lot 387", 
	"Lot 388", 
	"Lot 389", 
	"Lot 390", 
	"Lot 391", 
	"Lot 392", 
	"Lot 393", 
	"Lot 394", 
	"Lot 395", 
	"Lot 396", 
	"Lot 397", 
	"Lot 398", 
	"Lot 399", 
	"Lot 400", 
	"Lot 401", 
	"Lot 402", 
	"Lot 403", 
	"Lot 404", 
	"Lot 405", 
	"Lot 406", 
	"Lot 407", 
	"Lot 408", 
	"Lot 409", 
	"Lot 411", 
	"Lot 412", 
	"Lot 413", 
	"Lot 414", 
	"Lot 415", 
	"Lot 416", 
	"Lot 417", 
	"Lot 418", 
	"Lot 419", 
	"Lot 420", 
	"Lot 421", 
	"Lot 422", 
	"Lot 423", 
	"Lot 424", 
	"Lot 425", 
	"Lot 426", 
	"Lot 427", 
	"Lot 428", 
	"Lot 429", 
	"Lot 430", 
	"Lot 431", 
	"Lot 432", 
	"Lot 433", 
	"Lot 434", 
	"Lot 435", 
	"Lot 436", 
	"Lot 437", 
	"Lot 438", 
	"Lot 439", 
	"Lot 440", 
	"Lot 441", 
	"Lot 442", 
	"Lot 443", 
	"Lot 444", 
	"Lot 445", 
	"Lot 446", 
	"Lot 447", 
	"Lot 448", 
	"Lot 449", 
	"Lot 450", 
	"Lot 451", 
	"Lot 452", 
	"Lot 453", 
	"Lot 454", 
	"Lot 455", 
	"Lot 456", 
	"Lot 457", 
	"Lot 458", 
	"Lot 459", 
	"Lot 460", 
	"Lot 461", 
	"Lot 462", 
	"Lot 463", 
	"Lot 464", 
	"Lot 465", 
	"Lot 466", 
	"Lot 467", 
	"Lot 468", 
	"Lot 469", 
	"Lot 470", 
	"Lot 471", 
	"Lot 472", 
	"Lot 473", 
	"Lot 474", 
	"Lot 475", 
	"Lot 476", 
	"Lot 477", 
	"Lot 478", 
	"Lot 479", 
	"Lot 480", 
	"Lot 481", 
	"Lot 482", 
	"Lot 483", 
	"Lot 484", 
	"Lot 485", 
	"Lot 486", 
	"Lot 487", 
	"Lot 488", 
	"Lot 489", 
	"Lot 490", 
	"Lot 491", 
	"Lot 492", 
	"Lot 493", 
	"Lot 494", 
	"Lot 495", 
	"Lot 496", 
	"Lot 497", 
	"Lot 498", 
	"Lot 499", 
	"Lot 500", 
	"Lot 501", 
	"Lot 502", 
	"Lot 503", 
	"Lot 504", 
	"Lot 505", 
	"Lot 506", 
	"Lot 507", 
	"Lot 508", 
	"Lot 509", 
	"Lot 510", 
	"Lot 511", 
	"Lot 512", 
	"Lot 513", 
	"Lot 514", 
	"Lot 515", 
	"Lot 516", 
	"Lot 517", 
	"Lot 518", 
	"Lot 519", 
	"Lot 520", 
	"Lot 521", 
	"Lot 522", 
	"Lot 523", 
	"Lot 524", 
	"Lot 525", 
	"Lot 526", 
	"Lot 527", 
	"Lot 528", 
	"Lot 529", 
	"Lot 530", 
	"Lot 531", 
	"Lot 532", 
	"Lot 533", 
	"Lot 534", 
	"Lot 535", 
	"Lot 536", 
	"Lot 537", 
	"Lot 538", 
	"Lot 539", 
	"Lot 540", 
	"Lot 541", 
	"Lot 542", 
	"Lot 543", 
	"Lot 544", 
	"Lot 545", 
	"Lot 546", 
	"Lot 547", 
	"Lot 548", 
	"Lot 549", 
	"Lot 550", 
	"Lot 551", 
	"Lot 552", 
	"Lot 553", 
	"Lot 554", 
	"Lot 555", 
	"Lot 556", 
	"Lot 557", 
	"Lot 558", 
	"Lot 559", 
	"Lot 560", 
	"Lot 561", 
	"Lot 562", 
	"Lot 563", 
	"Lot 564", 
	"Lot 565", 
	"Lot 566", 
	"Lot 567", 
	"Lot 568", 
	"Lot 569", 
	"Lot 570", 
	"Lot 571", 
	"Lot 572", 
	"Lot 573", 
	"Lot 574", 
	"Lot 575", 
	"Lot 576", 
	"Lot 577", 
	"Lot 578", 
	"Lot 579", 
	"Lot 580", 
	"Lot 581", 
	"Lot 582", 
	"Lot 583", 
	"Lot 584", 
	"Lot 585", 
	"Lot 586", 
	"Lot 587", 
	"Lot 588", 
	"Lot 589", 
	"Lot 590", 
	"Lot 591", 
	"Lot 592", 
	"Lot 593", 
	"Lot 594", 
	"Lot 595", 
	"Lot 596", 
	"Lot 597", 
	"Lot 598", 
	"Lot 599", 
	"Lot 600", 
	"Lot 601", 
	"Lot 602", 
	"Lot 603", 
	"Lot 604", 
	"Lot 605", 
	"Lot 606", 
	"Lot 607", 
	"Lot 608", 
	"Lot 609", 
	"Lot 610", 
	"Lot 611", 
	"Lot 612", 
	"Lot 613", 
	"Lot 614", 
	"Lot 615", 
	"Lot 616", 
	"Lot 617", 
	"Lot 618", 
	"Lot 619", 
	"Lot 620", 
	"Lot 621", 
	"Lot 622", 
	"Lot 623", 
	"Lot 624", 
	"Lot 625", 
	"Lot 626", 
	"Lot 627", 
	"Lot 628", 
	"Lot 629", 
	"Lot 630", 
	"Lot 631", 
	"Lot 632", 
	"Lot 633", 
	"Lot 634", 
	"Lot 635", 
	"Lot 636", 
	"Lot 637", 
	"Lot 638", 
	"Lot 639", 
	"Lot 640", 
	"Lot 641", 
	"Lot 642", 
	"Lot 643", 
	"Lot 644", 
	"Lot 645", 
	"Lot 646", 
	"Lot 647", 
	"Lot 648", 
	"Lot 649", 
	"Lot 650", 
	"Lot 651", 
	"Lot 652", 
	"Lot 653", 
	"Lot 654", 
	"Lot 655", 
	"Lot 656", 
	"Lot 657", 
	"Lot 658", 
	"Lot 659", 
	"Lot 660", 
	"Lot 661", 
	"Lot 662", 
	"Lot 663", 
	"Lot 664", 
	"Lot 665", 
	"Lot 666", 
	"Lot 667", 
	"Lot 668", 
	"Lot 669", 
	"Lot 670", 
	"Lot 671", 
	"Lot 672", 
	"Lot 673", 
	"Lot 674", 
	"Lot 675", 
	"Lot 676", 
	"Lot 677", 
	"Lot 678", 
	"Lot 679", 
	"Lot 680", 
	"Lot 681", 
	"Lot 682", 
	"Lot 683", 
	"Lot 684", 
	"Lot 685", 
	"Lot 686", 
	"Lot 687", 
	"Lot 688", 
	"Lot 689", 
	"Lot 690", 
	"Lot 691", 
	"Lot 692", 
	"Lot 693", 
	"Lot 694", 
	"Lot 695", 
	"Lot 696", 
	"Lot 697", 
	"Lot 698", 
	"Lot 699", 
	"Lot 700", 
	"Lot 701", 
	"Lot 702", 
	"Lot 703", 
	"Lot 704", 
	"Lot 705", 
	"Lot 706", 
	"Lot 707", 
	"Lot 708", 
	"Lot 709", 
	"Lot 710", 
	"Lot 711", 
	"Lot 712", 
	"Lot 713", 
	"Lot 714", 
	"Lot 715", 
	"Lot 716", 
	"Lot 717", 
	"Lot 718", 
	"Lot 719", 
	"Lot 720", 
	"Lot 721", 
	"Lot 722", 
	"Lot 723", 
	"Lot 724", 
	"Lot 725", 
	"Lot 726", 
	"Lot 727", 
	"Lot 728", 
	"Lot 729", 
	"Lot 730", 
	"Lot 731", 
	"Lot 732", 
	"Lot 733", 
	"Lot 734", 
	"Lot 735", 
	"Lot 736", 
	"Lot 737", 
	"Lot 738", 
	"Lot 739", 
	"Lot 740", 
	"Lot 741", 
	"Lot 742", 
	"Lot 743", 
	"Lot 744", 
	"Lot 745", 
	"Lot 746", 
	"Lot 747", 
	"Lot 748", 
	"Lot 749", 
	"Lot 750", 
	"Lot 751", 
	"Lot 752", 
	"Lot 753", 
	"Lot 754", 
	"Lot 755", 
	"Lot 756", 
	"Lot 757", 
	"Lot 758", 
	"Lot 759", 
	"Lot 760", 
	"Lot 761", 
	"Lot 762", 
	"Lot 763", 
	"Lot 764", 
	"Lot 765", 
	"Lot 766", 
	"Lot 767", 
	"Lot 768", 
	"Lot 769", 
	"Lot 770", 
	"Lot 771", 
	"Lot 772", 
	"Lot 773", 
	"Lot 774", 
	"Lot 775", 
	"Lot 776", 
	"Lot 777", 
	"Lot 778", 
	"Lot 779", 
	"Lot 780", 
	"Lot 781", 
	"Lot 782", 
	"Lot 783", 
	"Lot 784", 
	"Lot 785", 
	"Lot 786", 
	"Lot 787", 
	"Lot 788", 
	"Lot 789", 
	"Lot 790", 
	"Lot 791", 
	"Lot 792", 
	"Lot 793", 
	"Lot 794", 
	"Lot 795", 
	"Lot 796", 
	"Lot 797", 
	"Lot 798", 
	"Lot 799", 
	"Lot 800", 
	"Lot 801", 
	"Lot 802", 
	"Lot 803", 
	"Lot 804", 
	"Lot 805", 
	"Lot 806", 
	"Lot 807", 
	"Lot 808", 
	"Lot 809", 
	"Lot 810", 
	"Lot 811", 
	"Lot 812", 
	"Lot 813", 
	"Lot 814", 
	"Lot 815", 
	"Lot 816", 
	"Lot 817", 
	"Lot 818", 
	"Lot 819", 
	"Lot 820", 
	"Lot 821", 
	"Lot 822", 
	"Lot 823", 
	"Lot 824", 
	"Lot 825", 
	"Lot 826", 
	"Lot 827", 
	"Lot 828", 
	"Lot 829", 
	"Lot 830", 
	"Lot 831", 
	"Lot 832", 
	"Lot 833", 
	"Lot 834", 
	"Lot 835", 
	"Lot 836", 
	"Lot 837", 
	"Lot 838", 
	"Lot 839", 
	"Lot 840", 
	"Lot 841", 
	"Lot 842", 
	"Lot 843", 
	"Lot 844", 
	"Lot 845", 
	"Lot 846", 
	"Lot 847", 
	"Lot 848", 
	"Lot 849", 
	"Lot 850", 
	"Lot 851", 
	"Lot 852", 
	"Lot 853", 
	"Lot 854", 
	"Lot 855", 
	"Lot 856", 
	"Lot 857", 
	"Lot 858", 
	"Lot 859", 
	"Lot 860", 
	"Lot 861", 
	"Lot 862", 
	"Lot 863", 
	"Lot 864", 
	"Lot 865", 
	"Lot 866", 
	"Lot 867", 
	"Lot 868", 
	"Lot 869", 
	"Lot 870", 
	"Lot 871", 
	"Lot 872", 
	"Lot 873", 
	"Lot 874", 
	"Lot 875", 
	"Lot 876", 
	"Lot 877", 
	"Lot 878", 
	"Lot 879", 
	"Lot 880", 
	"Lot 881", 
	"Lot 882", 
	"Lot 883", 
	"Lot 884", 
	"Lot 885", 
	"Lot 886", 
	"Lot 887", 
	"Lot 888", 
	"Lot 889", 
	"Lot 890", 
	"Lot 891", 
	"Lot 892", 
	"Lot 893", 
	"Lot 894", 
	"Lot 895", 
	"Lot 896", 
	"Lot 897", 
	"Lot 898", 
	"Lot 899", 
	"Lot 900", 
	"Lot 901", 
	"Lot 902", 
	"Lot 903", 
	"Lot 904", 
	"Lot 905", 
	"Lot 906", 
	"Lot 907", 
	"Lot 908", 
	"Lot 909", 
	"Lot 910", 
	"Lot 911", 
	"Lot 912", 
	"Lot 913", 
	"Lot 914", 
	"Lot 915", 
	"Lot 916", 
	"Lot 917", 
	"Lot 918", 
	"Lot 919", 
	"Lot 920", 
	"Lot 921", 
	"Lot 922", 
	"Lot 923", 
	"Lot 924", 
	"Lot 925", 
	"Lot 926", 
	"Lot 927", 
	"Lot 928", 
	"Lot 929", 
	"Lot 930", 
	"Lot 931", 
	"Lot 932", 
	"Lot 933", 
	"Lot 934", 
	"Lot 935", 
	"Lot 936", 
	"Lot 937", 
	"Lot 938", 
	"Lot 939", 
	"Lot 940", 
	"Lot 941", 
	"Lot 942", 
	"Lot 943", 
	"Lot 944", 
	"Lot 945", 
	"Lot 946", 
	"Lot 947", 
	"Lot 948", 
	"Lot 949", 
	"Lot 950", 
	"Lot 951", 
	"Lot 952", 
	"Lot 953", 
	"Lot 954", 
	"Lot 955", 
	"Lot 956", 
	"Lot 957", 
	"Lot 958", 
	"Lot 959", 
	"Lot 960", 
	"Lot 961", 
	"Lot 962", 
	"Lot 963", 
	"Lot 964", 
	"Lot 965", 
	"Lot 966", 
	"Lot 967", 
	"Lot 968", 
	"Lot 969", 
	"Lot 970", 
	"Lot 971", 
	"Lot 972", 
	"Lot 973", 
	"Lot 974", 
	"Lot 975", 
	"Lot 976", 
	"Lot 977", 
	"Lot 978", 
	"Lot 979", 
	"Lot 980", 
	"Lot 981", 
	"Lot 982", 
	"Lot 983", 
	"Lot 984", 
	"Lot 985", 
	"Lot 986", 
	"Lot 987", 
	"Lot 988", 
	"Lot 989", 
	"Lot 990", 
	"Lot 991", 
	"Lot 992", 
	"Lot 993", 
	"Lot 994", 
	"Lot 995", 
	"Lot 996", 
	"Lot 997", 
	"Lot 998", 
	"Lot 999"
		];
	$( "#search" ).autocomplete({
		source: availableProperties
	});
});
</script>
