<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<html>
<head>
	<title>InterAccess Systems - Service Requests</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="InterAccess Systems Work Orders application" name="description">
	<meta content="Dario Landeros" name="author">
	
	<%= javascript_include_tag "application" %>

	<%= stylesheet_link_tag "bootstrap", :media => "all" %>
	<%= stylesheet_link_tag "style", :media => "all" %>
	<%= stylesheet_link_tag "custom", :media => "all" %>
	<%= stylesheet_link_tag "blue", :media => "all" %>
	<%= stylesheet_link_tag "iphone-style", :media => "all" %>
	<%= stylesheet_link_tag "font-awesome", :media => "all" %>
	
	<%= yield(:header) %>
	<%= csrf_meta_tags %>
	
	<!-- Latest compiled and minified CSS 
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
</head>
<body>
	<div id="wrapper">
		<!--=== Header ===-->
		<div class="header">
		    <!--=== Topbar ===-->
			<div class="topbar">
	            <div class="container">
	                <!-- Topbar Navigation -->
	                <ul class="loginbar pull-right"> 
	                	<li>
							<% if user_signed_in? %>
							    <small> 
									Hi <b><%= current_user.email %></b>. Not you?
								</small>
								<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
							  <% else %>
							  		<%= link_to "Sign in", new_session_path(resource_name) %>
							  <% end %>
						</li>
						<li class="topbar-devider"></li>
	                    <li><%= link_to "Help", contact_path %></li>        
	                </ul>
	                <!-- End Topbar Navigation -->
	            </div>
	        </div>
		    <!--=== End Topbar ===-->
		    <!--=== Navbar ===-->
		    <div class="navbar navbar-default" role="navigation">
				<div class="container">
					<!--=== Navbar Header ===-->
		        	<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="sr-only">Toggle navigation</span> <span class="fa fa-bars"></span>
                        </button>
						<%= link_to image_tag("iaslogo.png", :style => 'margin-top:-34px; margin-left:-18px'), :root, :id => 'logo_container' %>
					</div>
					<!--=== End Navbar Header ===-->
					
					<!--=== Navbar Links ===-->
					<div class="collapse navbar-collapse navbar-responsive-collapse">
						<ul class="nav navbar-nav">
							<li <%= controller_name == 'service_requests' ? "class='active'" : "" %> >
								<%= link_to "Home", :root %></li>
							<li <%= controller_name == 'reports' ? "class='dropdown active'" : "class='dropdown'" %> >
								<a href="#" class="dropdown-toggle">Reports</a>
								<ul class="dropdown-menu">
									<li><%= link_to "By Address", reports_path %></li>
									<li><%= link_to "By Status", "/reports/by_status" %></li>
									<li><%= link_to "By Category", "/reports/by_category" %></li>
								</ul>
							</li>
							<li <%= controller_name == 'contact' ? "class=active" : "" %>>
								<%= link_to "Contact", contact_path %></li>
						</ul>
					</div>
					<!--=== End Navbar Links ===-->
				</div>
		    </div>
		    <!--=== End Navbar ===-->
		</div>
		<!--=== End Header ===-->
		<!--=== Title / Breadcrumbs ===-->
		<div class="breadcrumbs">
			<div class="container">
				<h1 class="pull-left"><%= yield(:title) %></h1>
				<ul class="pull-right breadcrumb">
				</ul>
			</div><!--/container-->
		</div>
		<!--=== End Title / Breadcrumbs ===-->		
		<div class="container content">
			<%= yield %>
		</div>
		<!--=== Footer ===-->
		<div class="footer sticky-footer">
			<div class="container">
				<div class="row">
					<p class="text-muted credit text-center">
						All rights reserved to <a href="http://www.ias1.com">InterAccess Systems</a> ©
		                        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
				</div>
			</div>
		</div>
		<!--=== End Footer ===-->
	</div>
	<!-- Latest compiled and minified JavaScript -->

	<%= javascript_include_tag "jquery-ui.js" %>
	<%= javascript_include_tag "bootstrap.min.js" %>
	<%= javascript_include_tag "spin.min.js" %>
	<%= javascript_include_tag "ladda.min.js" %>
	<%= javascript_include_tag "iphone-style-checkboxes.js" %>
	

	<script type="text/javascript">
	    $(document).ready(function() {
	      $(':checkbox').iphoneStyle({
			  checkedLabel: 'YES',
			  uncheckedLabel: 'NO'
			});
	    });
	</script>
	<%= yield(:js_scripts) %>
</body>
</html>
